In [14]:
import pandas as pd 
import numpy as np
import os
import pickle as pkl

In [15]:
mode = 'dev' # or 'test

data_path = 'optogpt_data/' + mode 

data_names = os.listdir(data_path)

df_list = []

for file in data_names:
    df_ = pd.read_csv(os.path.join(data_path, file))
    df_list.append(df_)
    
df = pd.concat(df_list, ignore_index=True)

In [17]:
df

,Unnamed: 0,structure,num_layers,R_380nm,R_385nm,R_390nm,R_395nm,R_400nm,R_405nm,R_410nm,...,T_705nm,T_710nm,T_715nm,T_720nm,T_725nm,T_730nm,T_735nm,T_740nm,T_745nm,T_750nm
0,0,"['TiO2_140', 'MgF2_140']",2,0.148033,0.174159,0.200550,0.226236,0.250562,0.273118,0.293671,...,0.921118,0.915862,0.910256,0.904346,0.898173,0.891777,0.885197,0.878469,0.871625,0.864697
1,1,"['MgF2_230', 'SiO2_60', 'TiO2_200', 'TiO2_100'...",18,0.444216,0.056777,0.165346,0.143747,0.227009,0.281428,0.156426,...,0.586549,0.585523,0.586202,0.589799,0.598299,0.613729,0.637608,0.670557,0.711921,0.759399
2,2,"['SiO2_150', 'TiO2_70', 'SiO2_250', 'TiO2_150'...",15,0.297282,0.066219,0.049177,0.103439,0.111438,0.116920,0.438488,...,0.859553,0.859532,0.819324,0.750109,0.672848,0.603824,0.550371,0.513703,0.492344,0.484018
3,3,"['SiO2_210', 'TiO2_180', 'MgF2_80']",3,0.210036,0.177514,0.153121,0.138064,0.131472,0.130899,0.133461,...,0.899074,0.909069,0.918068,0.926041,0.932970,0.938854,0.943707,0.947554,0.950433,0.952393
4,4,"['SiO2_90', 'TiO2_60', 'MgF2_30', 'SiO2_180', ...",19,0.443614,0.336466,0.099228,0.648557,0.751681,0.756837,0.778623,...,0.855268,0.755579,0.641047,0.545475,0.480797,0.446650,0.440297,0.460715,0.509261,0.588111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19995,"['MgF2_230', 'SiO2_130', 'TiO2_110', 'SiO2_160...",18,0.436544,0.545160,0.337203,0.145326,0.419234,0.577666,0.578211,...,0.250822,0.238049,0.228970,0.223050,0.219999,0.219790,0.222653,0.229065,0.239763,0.255783
19996,19996,"['MgF2_200', 'TiO2_180', 'SiO2_40', 'MgF2_90',...",11,0.315182,0.073508,0.127288,0.360885,0.466959,0.435313,0.301607,...,0.546040,0.610400,0.679951,0.750177,0.815491,0.870548,0.911794,0.938355,0.951822,0.955175
19997,19997,"['TiO2_130', 'TiO2_120', 'SiO2_80', 'MgF2_30',...",12,0.176940,0.478321,0.688494,0.777080,0.798400,0.770226,0.677965,...,0.831283,0.892754,0.935388,0.949515,0.931329,0.884877,0.819826,0.747005,0.674993,0.609019
19998,19998,"['MgF2_170', 'TiO2_20', 'SiO2_130', 'TiO2_250']",4,0.238431,0.309278,0.358281,0.384249,0.388616,0.373341,0.340973,...,0.796134,0.791777,0.787404,0.783051,0.778754,0.774553,0.770488,0.766598,0.762921,0.759490
19999,19999,"['MgF2_210', 'SiO2_160', 'TiO2_190', 'SiO2_120...",20,0.146432,0.330926,0.539662,0.672725,0.640171,0.344294,0.046831,...,0.598116,0.590248,0.593647,0.610285,0.640874,0.683917,0.734616,0.784780,0.825452,0.851853

In [18]:
import ast

spec_index = ['R_'+str(i)+'nm' for i in range(380, 751, 5)] + ['T_'+str(i)+'nm' for i in range(380, 751, 5)]

spec = df[spec_index].values

structure = list(df['structure'].apply(ast.literal_eval))

In [19]:

with open('dataset/Structure_'+mode+'.pkl', 'wb') as files:
    pkl.dump(structure, files)
    
with open('dataset/Spectrum_'+mode+'.pkl', 'wb') as files:
    pkl.dump(spec, files)